@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  user-select: none;
}
a{
  text-decoration: none;
}
body{
  min-height: 100vh;
  color: #313940;
  background: #dde1e7;
}
.header{
  width: 100%;
  text-align: center;
  padding: 7vh 0 4vh 0;
}
.main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.options{
  display: flex;
  justify-content: space-between;
  width: 450px;
  max-width: 96%;
  margin: 0 auto;
  padding: 0 0 40px 0;
  text-align: center;
}
.hidden-icon{
  display: none !important;
}


.btn{
  width: 100px;
  height: 80px;
  font-size: 16px;
  font-weight: 200;
  border: none;

  background: #dde1e7;
  box-shadow: 2px 2px 4px #cbcfd5,
              -2px -2px 4px #eff3f9;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;;
  -moz-transition: all 0.1s ease;;
  -o-transition: all 0.1s ease;;
  transition: all 0.1s ease;
}
.btn-label{
  display: block;
}
.btn:hover{
  font-size: 15px;
  background: linear-gradient(145deg, #c7cbd0, #ecf1f7);
  box-shadow: 2px 2px 4px #cbcfd5,
              -2px -2px 4px #eff3f9;
}
.btn:focus {
  outline: none;
}
.btn:active{
  border: 2px solid #313940;
}
.btn-selected{
  background-color: #f54b54 !important;
  color: white;
}
.btn-selected:hover{
  background: linear-gradient(145deg, #dd444c, #ff505a);
  box-shadow: 2px 2px 4px #cbcfd5,
              -2px -2px 4px #eff3f9;
}
.btn-selected-hint{
  background-color: #05b8c5 !important;
  color: white;
}
.btn-selected-hint:hover{
  background: linear-gradient(145deg, #05a6b1, #05c5d3);
  box-shadow: 2px 2px 4px #cbcfd5,
              -2px -2px 4px #eff3f9;
}


.piano {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 560px;
  max-width: 96%;
  margin: 0 auto;
}
.piano-key.white {
  position: relative;
  width: 80px;
  height: 100%;
  background-color: #dde1e7;
  border: 1px solid #313940;

  border-radius: 0px 0px 20px 20px;
  transition: 0.3s;
}
.keys-sharp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.piano-key.black {
  width: 10%;
  height: 170px;
  background-color: #313940;
  border: 0;
  border-radius: 0px 0px 10px 10px;
  top: 0;
  pointer-events: auto;
  transition: 0.3s;
}
.hidden {
  width: 10%;
  background-color: transparent;
  pointer-events: none;
}
.piano-key.white:hover{
  background-color: #eff3f9;
  color: #05b8c5;
  cursor: pointer;
}
.piano-key.black:hover{
  background-color: #434d57;
  color: #05b8c5;
  cursor: pointer;
}
.active-key{
  transform: scaleX(0.90);
  color: #f54b54 !important;
}


.white.key-hint::after{
  content: attr(data-key);
  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -30px;
  left:0;
}
.black.key-hint::after{
  content: attr(data-key);
  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
  left:0;
}
.white.note-hint::after{
  content: attr(data-note);
  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -30px;
  left:0;
}
.black.note-hint::after{
  content: attr(data-note);
  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
  left:0;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313940;
  padding: 2vh 5vw 2vh 5vw;
}
.footer a{
  color: #dde1e7;
  font-size:larger;
  transition: 0.3s;
}
.footer a:hover{
  color: #f54b54;
  letter-spacing: 1px;
}

@media(max-width:450px){
  .btn{
    width: 70px;
    height: 70px;
  }
  .piano{
    height: 200px;
  }
  .piano-key.black{
    height: 120px;
  }
}

@media (orientation: landscape) and (max-height: 630px){
  .footer{
    position: static;
    margin-top: 40px;
  }  
}